#root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  max-width: 1280px;
  font-weight: 400;
  color-scheme: light dark;
  margin: 0 auto;
  padding: 2rem; 
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  }

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0a0909;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #69a9bd;
  }
}
.logo
{
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section-with-bars {
  height: 30px;
  background-color: lightblue;
  display: flex;
  align-items: center; 
  padding: 8px;
}

.search-container, 
.order-container {
  margin-right: 10px; 
  margin-left: 40px
}

.image
{
  height: 40px;
  margin-left: 8px; 
  padding: 8px;
}

/* MovieTable*/
.movie-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 16px;
  max-height: 430px; /* Establecer una altura máxima */
  padding: 20px;
  overflow-y: auto; /* Agregar un scroll vertical si el contenido es más alto que la altura máxima */
  overflow-x: hidden;
}

.movie-grid div {
  position: relative;
}

.movie-grid div:hover {
  filter: brightness(1.2); /* Cambia el brillo al pasar el mouse */
  transition: filter 0.3s ease; /* Agrega una transición suave al efecto */
}

.movie-grid img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.movie-grid div:hover img {
  transform: scale(1.1); /* Escala la imagen al pasar el mouse */
}

.movie-grid h4, .movie-grid p {
  position: absolute;
  bottom: 0;
  font-size: small;
  background-color: rgba(163, 230, 221, 0.705);
  color: rgb(0, 0, 0);
  width: 200px;
  text-align: center;
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.movie-grid p {
  bottom: 50px;
}

.movie-grid div:hover h4,
.movie-grid div:hover p {
  background-color: rgba(163, 230, 221, 0.9); /* Cambia el color de fondo al pasar el mouse */
}

/* Modo claro */
.pagination-container {
  background-color: #ffd900;
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
  .pagination-container {
    background-color: #333;
    color: #661a1a;
  }
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0.2em;
}

.pagination button {
  margin: 0;
  padding: 0.5em;
  border: 1px solid rgb(7, 54, 107);
  background-color:   #bb6c22;
  cursor: pointer;
}

.pagination button.active {
  color: #bb6c22;
  font-weight: bold;
  background-color: #007bff; /* Puedes ajustar este color según tus preferencias */
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Resto de tu CSS */
.loading-animation {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 1.5em;
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* botón de búsqueda y orden*/
.search-button {
  margin-left: 3px; 
  font-size: 0.8em; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.search-button:hover {
  background-color: #ffd900; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

/* MovieDetail.css */

/* styles.css */

.movie-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.images img {
  max-width: 100%;
}

.movie-container {
  display: flex;
  margin-top: 20px;
}

.img-container {
  flex: 1;
  margin-right: 20px;
}

.img-detail {
  width: 100%;
  height: auto;
}

.movie-detail-text {
  flex: 2;
}

.section-title {
  margin-bottom: 10px;
}

.title-info {
  font-size: 24px;
  font-weight: bold;
  color: #bb6c22;
}

.yearP {
  color: #888;
}

.infoMovie {
  line-height: 1.5;
  color: aquamarine;
  text-align: justify;
}

.back-btn {
  padding: 12px;
  background-color: rgba(163, 230, 221, 0.9);
  color: rgb(51, 51, 51);
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #ffd900;
}




